<header class="site-header">

<nav>
  <ul class="nav">
              <ul id="menu-1" class="menu">
                <li><a href="/about">About Us</a></li>
                <li><a href="/details">Details</a></li>
                <li><a href="/"><p> Nick & Candace <br> 10.31.15</p></a></li>
                <li><a href="/photos">Photos</a></li>
                <li id="registries"><a class="dropdown-toggle icon" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
                Registries</a>
    <ul class="d-none">
      <li><a href="http://www.amazon.com/registry/wedding/B9SENONULQP" target="_blank">Amazon</a></li>
      <li><a href="https://www-secure.target.com/gift-registry/giftgiver?registryId=pTKEEXjOsdKLaZ8s70CvLQ" target="_blank">Target</a></li>
    </ul></li>
              </ul>
          </li>
      </ul>
  </nav>
</header>
