<header class="site-header">

<nav>
  <ul class="nav">
              <ul id="menu-1" class="menu">
                <li><a href="/about">About Us</a></li>
                <li><a href="/details">Details</a></li>
                <li><p > Nick & Candace <br> 10.31.15</p></li>
                <li><a href="mailto:nickandcandace@yahoo.com?subject=Can't wait to Drink! er...Go to the wedding!">RSVP</a></li>
                <li><a href="/registry">Registries</a></li>
              </ul>
          </li>
      </ul>
  </nav>
</header>
