<header class="site-header">

<nav>
  <ul class="nav">
              <ul id="menu-1" class="menu">
                <li><a href="/about">About Us</a></li>
                <li><a href="/details">Details</a></li>
                <li><a href="/"><p> Nick & Candace <br> 10.31.15</p></a></li>
                <li><a href="mailto:nickandcandace@yahoo.com?subject=Can't wait to Drink! er...Go to the wedding!&body=We Cannot Wait to Attend. %0D 1.What Board Game(s) Would You Like to see/play? %0D 2. What Music would you like to hear? %0D%0D%0D Thank you! Looking Forward to seeing you there!%0D%0D%0D%0D Don't forget to tell us your name!">RSVP</a></li>
                <li id="registries"><a class="dropdown-toggle icon" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
                Registries</a>
    <ul class="d-none">
      <li><a href="http://www.amazon.com/registry/wedding/B9SENONULQP" target="_blank">Amazon</a></li>
      <li><a href="https://www-secure.target.com/gift-registry/giftgiver?registryId=pTKEEXjOsdKLaZ8s70CvLQ" target="_blank">Target</a></li>
    </ul></li>
              </ul>
          </li>
      </ul>
  </nav>
</header>
