.site-header {

 nav {
   display: table;
   margin: 0 auto;
   padding: 0 5em 0 0em;


#menu-1 {
  list-style: none;



  li {
  display: inline-block;

  vertical-align: middle;


  .dropdown-toggle {

  .dropdown-menu {
    display: block;
    color: red;
      }
    }

  a {
    padding: 1em 1em 0em 2em;
    text-decoration: none;
    color: inherit;

  &:hover {
    color: yellow;
  }

    }
    p {
      padding: 0em 1em 0 1em;
      color: #27462B;
      font-size: 2em;
      text-align: center;
    }
  }




}





}// end nav

 }//end site-header





 //Start site footer-col
 .site-footer {


  .nav-footer {
  display: table;
  margin: 0 auto;
  padding: 0 3em 0 0em;


    .lower-nav {


      li {

        list-style: none;
        float: left;
        margin: 1em;

        a {
          text-decoration: none;
          color: inherit;

        }

            }
          }
        }


  .copy {
    text-align: center;
    font-size: .75em;




  }


 }//end site-footer
